<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>Thanks for playing!</h1>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    setTimeout(function(){
        window.location = "/register";
    }, 5000);
</script>

</body>
</html>