<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thank you!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div class="container">

    <div class="jumbotron">
        <h1>Thanks for playing!</h1>
        <p th:if="${gameResult}" th:inline="text">
            Well done, [[${gameResult.player.name}]]! You scored <strong>[[${gameResult.score}]]</strong> points! <br/>Have a look at the <a th:href="@{/leaderboard}">leaderboard</a> to see how you match up with others.
        </p>
        <p th:unless="${gameResult}">
            Unfortunately you didn't score any points. No worries, you can always retry later.
        </p>
    </div>

    <span>Redirecting to the registration page in a few seconds...</span>

</div>
<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    setTimeout(function(){
        window.location = "/register";
    }, 10000);
</script>

</body>
</html>