<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<div class="container">
    <h1>Current leaderboard</h1>
    <div th:each="gameWithResults : ${gameResults}">
        <h2 th:text="${gameWithResults.key.name}"/>
        <table class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gameResult : ${gameWithResults.value}">
                    <td th:text="${gameResult.player.name}"></td>
                    <td th:text="${gameResult.score}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>