<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/play.css}"/>

</head>
<body>

<div class="container">

    <div>
        <div class="well">
            <span th:inline="text">Hi, <strong>[[${gs.player.name}]]</strong>.
                You'll be coding in no time. Please wait while we're setting up the workspace. Meanwhile, have a look at the game description below.</span>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Rules of the game</h3>
            </div>
            <ul class="nav nav-tabs" id="taskTabs">
                <li class="nav-item" th:each="task : ${gameDescriptions.keySet()}">
                    <a class="nav-link" th:href="@{${'#' + task.id}}" th:text="${task.name}" role="tab"
                       data-toggle="tab"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#workspace-tutor" data-toggle="tab" role="tab" style="color: red">Workspace Tutorial</a>
                </li>
            </ul>
            <div class="tab-content" id="gameDescriptions">
                <div th:each="game : ${gameDescriptions}" th:id="${game.key.id}" class="tab-pane" role="tabpanel"
                     th:utext="${game.value}"/>
                <div th:class="tab-pane" id="workspace-tutor" role="tabpanel">
                    <div class="imgwrapper">
                        <img th:src="@{/imgs/che_tutorial.png}" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <!--div id="description" class="panel-body" th:utext="${gameDescription}">
            </div-->
        </div>

        <div class="alert alert-danger" role="alert" id="countdown" style="display: none;"></div>

        <div th:if="${finished}" class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Your session has ended</h3>
            </div>
            <div class="panel-body">
                Your session has already ended.
                Have a look at the <a th:href="@{/leaderboard}">leaderboard</a> to see how well you did.
            </div>
        </div>

        <div th:unless="${finished}" id="workspaceLink" style="display:none" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Your workspace is now ready!</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" id="open-workspace" th:href="@{${workspaceUrl}}" target="_blank"
                   onclick="startCountdown()">Open workspace</a>

                <a class="btn btn-info right" id="submit-solution" th:href="@{/finish/{id}(id=${gs.id})}">Submit
                    solutions</a>
            </div>
        </div>


        <div th:unless="${finished}" id="spinner" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Your workspace is being prepared. Please wait.</h3>
            </div>
            <div class="panel-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $('#taskTabs a:first').tab('show');
</script>

<script th:unless="${finished}" th:inline="javascript">
    /*<![CDATA[*/
    var apiUrl = /*[[${apiUrl.toString()}]]*/ '';
    var gs = /*[[${gs}]]*/ '';

    var timeToPlay = /*[[${timeToPlay}]]*/ '';

    if (gs.started) {
        startCountdown();
    }


    function validateWorkspace() {
        $.ajax({
            url: apiUrl + "/workspace/namespace/che",
            success: function (result) {
                if (result && result[0] && "RUNNING" === result[0].status) {
                    $("#spinner div.progress-bar").css("width", "100%");
                    $("#spinner").hide();
                    $("#workspaceLink").show();
                } else {
                    $("#spinner div.progress-bar").css("width", "66%");
                    setTimeout(validateWorkspace, 1000);
                }
            },
            error: function () {
                $("#spinner div.progress-bar").css("width", "33%");
                setTimeout(validateWorkspace, 1000);
            }
        });
    }

    function startCountdown() {
        var stopTime = new Date().getTime() + timeToPlay;
        $.ajax({
            url: "/start/" + this.gs.id,
            success: function (sessionStartTime) {
                stopTime = sessionStartTime + timeToPlay;
            }
        });

        var timer = setInterval(function () {
            var now = new Date().getTime();

            var elapsed = stopTime - now;

            var minutes = Math.floor((elapsed % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((elapsed % (1000 * 60)) / 1000);

            var timeLeft = minutes + "m " + seconds + "s ";
            $("#countdown").show();
            $("#countdown").text("Session will auto-submit in " + timeLeft);
            document.title = timeLeft + "left";

            if (elapsed < 0) {
                clearInterval(timer);
                $("#submit-solution")[0].click();
            }
        }, 1000);
    }

    if (apiUrl !== "") {
        validateWorkspace();
    }
    /*]]>*/
</script>

</body>
</html>