<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Register to Play</h3>
            </div>
            <div class="panel-body">
                <form action="#" th:action="@{/register}" th:object="${playerRegistration}" method="post"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="name">Name:</label>
                        <input class="form-control" type="text" id="name" name="name" th:field="*{player.name}"/>
                        <span class="alert alert-warning" th:if="${#fields.hasErrors('player.name')}"
                              th:errors="*{player.name}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">E-mail:</label>
                        <input class="form-control" type="email" id="email" name="email" th:field="*{player.email}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lang">Lang:</label>
                        <select class="form-control" id="lang" name="lang" th:field="*{player.lang}">
                            <option value="JAVA">Java</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="game">Game:</label>
                        <select class="form-control" id="game" name="game" th:field="*{gameId}" th:value="*{gameId}">
                            <option th:each="game : ${allGames}" th:value="${game.id}"
                                    th:text="${game.gameDef.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info btn-block" type="submit" value="Play!"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>